@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
    url("../fonts/Comfortaa-Regular.woff2") format("woff2"),
    url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: local("Helvetica Neue Cyr"), local("Helvetica-Neue-Cyr-Light"),
    url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: local("Helvetica Neue Cyr Bold"), local("Helvetica-Neue-Cyr-Bold"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}