body {
  position: relative;

  min-width: 320px;
  min-height: 100vh;

  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);

  background-color: #fff;
}

.container {
  position: relative;
  
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.page__container {
  
}

/* .wrapper {
  max-width: 1190px;
  padding: 140px 125px 180px;
  margin: 0 auto;
} */

.section {
  padding: 50px 0;
}

.section__title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: var(--text-color);
  
  margin-bottom: 50px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 20px;
}

.text:not(:last-child) {
  margin-bottom: 40px;
}

.text-strong {
  font-weight: 700;
}

.none {
  display: none;
}

/* Media */

@media (max-width: 1024px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 910px)  {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 690px) {
  .container {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}