.pets {
}

.pets__container {
}

.pets__inner {
  
}
.pets__list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 332px 326px;
  gap: 48px 20px;
}
.pets__item {
  
}

.pets__figure{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pets__img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  margin-bottom: 20px;
}
.pets__info {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

.pets__item-1 {
  grid-column: 1 / 6;
}

.pets__item-2 {
  grid-column: 6 / 10;
}

.pets__item-3 {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
}

.pets__item-4 {
  grid-column: 1 / 4;
}

.pets__item-5 {
  grid-column: 4 / 7;
}

.pets__item-6 {
  grid-column: 7 / 9;
}

.pets__img-3 {
  height: auto;
  flex: 1 0 auto;
}

/* Media */

@media (max-width: 1024px) {
  .pets__list {
    grid-template-columns: repeat(9, 1fr);
    gap: 40px 20px;
  }

  .pets__item-1 {
    grid-column: 1 / 5;
  }

  .pets__item-2 {
    grid-column: 5 / 8;
  }
  
  .pets__item-3 {
    grid-column: 8 / 10;
    grid-row: 1 / 3;
  }
  
  .pets__item-4 {
    grid-column: 1 / 3;
  }
  
  .pets__item-5 {
    grid-column: 3 / 5;
  }
  
  .pets__item-6 {
    grid-column: 5 / 7;
  }
  
}

@media (max-width: 910px) {
  .pets__list {
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: auto auto;
    gap: 30px 20px;
  }

  .pets__item-1 {
    grid-column: 1 / 7;
  }

  .pets__item-2 {
    grid-column: 7 / 10;
  }
  
  .pets__item-3 {
    grid-column: 5 / 10;
    grid-row: 3 / 4;
  }
  
  .pets__item-4 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    
  }
  
  .pets__item-5 {
    grid-column: 5 / 10;
    grid-row: 2 / 3;
  }
  
  .pets__item-6 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .pets__img-1,
  .pets__img-2 {
    height: 243px;
  }

  .pets__img-4,
  .pets__img-5 {
    height: 332px;
  }
 }

 @media (max-width: 690px) {
  .pets__list {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    gap: 20px 10px; 
  }

  .pets__item-1,
  .pets__item-2,
  .pets__item-3,
  .pets__item-4,
  .pets__item-5,
  .pets__item-6 {
    grid-column: 1; 
    grid-row: auto;
  }

  .pets__item-4 {
    order: 6;
  }
 }