body {
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #282626;
}

.wrapper {
  max-width: 1190px;
  padding: 140px 125px 180px;
  margin: 0 auto;
  
}

.text {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 20px;
}

.text:not(:last-child) {
  margin-bottom: 40px;
}

.text-strong {
  font-weight: 700;
}